<div class="login-container">
    <div class="card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Simplicity Comic</mat-card-title>
                <mat-card-subtitle>Administration Panel - Log in</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary" (click)="logIn()">
                    <img class="g" src="/assets/g.png" alt="Google">
                    Sign in with Google
                </button>
                <button mat-stroked-button class="leave" color="warn" (click)="getOut()">Leave</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
