<div class="wrapper">
    <div class="insidewrap">
        <div class="title">Archive</div>
        <div class="underline"></div>
        <button class="add" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
        <div class="chapterWrap" *ngFor="let chapter of chapters | async | keyvalue ">
                        
            <div  class="chapters">

                <div (click)="chapterClick(chapter.value.name)" class="ctitle">{{chapter.value.name}}</div>
                
                <!-- Each page could show a small thumbnail on hover -->
                <div *ngIf="chpsVisible.get(chapter.value.name)" class="pcontainer">
                    <a (click)="goTo(page.id)" *ngFor="let page of pages | async" > 
                        <div *ngIf="page.chapter == 'chapter' + chapter.key" class="pages">{{page.id}}</div>
                    </a>
                </div>
                
            </div>
            
        
        </div>
        
    </div>
</div>

